.espacoCadastro{
    display: flex;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;
    background-color: var(--cor--azul--claro);
    padding: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: max-content;
    border-radius: 5px;
}
.espacoCadastro{
    background-color: var(--cor--cinza);
    width: 100vw;
    height: 100vh;
}
span{
    color: darkred;
    font-weight: bold;
    padding: 5px;
}
input{
    margin-bottom: 0 !important;
}
.login{
    margin-top: 10px;
    padding: 5px;
    background-color: var(--cor--dourado);
    border: none;
    border-radius: 3px;
    font-weight: bold;
    transition: 0.8s;
    color: var(--cor--branco);
}
.login:hover{
    background-color: var(--cor--azul--marinho);
    transition: 0.8s;
    cursor: pointer;
}