@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root{
  --cor--dourado: #FD9B28;
  --cor--branco: #FFFFFF;
  --cor--cinza:#1E1F21;
  --cor--azul--marinho:#0E46C9;
  --cor--azul--claro:#00BBFF;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  background: #e0e0e0;
}

::-webkit-scrollbar-thumb{
  background: #888;
}

::-webkit-scrollbar-track:hover{
  background: #555;
}



