.MenuLateral{
    display: flex;
    align-items: flex-start;

}
li a{
  text-decoration: none;
}
li a:visited{
  text-decoration: none;
}
.texto:visited{
  text-decoration: none !important;
}
.menuLateral{
    background-color: var(--cor--azul--claro);
    width: max-content;
    padding: 5px;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: var(--cor--branco);
  }
  .imgPerfil{
    max-width: 80px;
    width: 100%;
    border-radius: 100%;
    margin: 0 auto;
  }
  .tipoUsuario,.name{
    text-align: center;
  }
  .tipoUsuario{
    margin-top: -10px;
  }
  .dashBoard{
    display: flex;
  }
  .barra{
    width: 100%;
    height: 2px !important;
    background-color: #848484;
    margin :10px 0  ;
  }
  .icons{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    
  }
  .menuIcon{
    position: fixed;
    width: 30px;
  }
  .iconDashBoard{
    margin-top: 15px;
  }
  .barraBaixo{
    margin-top: 10px;
  }
  span{
    padding:0px;
  }

  @media screen and (max-width:1000px) {
    .aberto{
        display: none;
    }
  }

  @media screen and (min-width:1001px) {
    .aberto{
        display: flex;
    }
    .menuIcon{
        display: none;
    }
  }